@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /*========== FONT SIZES =============*/
  --fs-xxl: 64px;
  --fs-xl: 40px;
  --fs-lg: 24px;
  --fs-md: 20px;
  --fs-sm: 18px;
  /* ============= COLORS  =============*/
  --text-red: #ff0a00;
  --text-offblack: #010101;
  --text-skyblue: #008ff8;
  --text-navyblue: #124068;
  --text-skin: #e9965a;
  --text-gray: #cccccc;
  --text-purple: #630df3;
  --text-darkblue: #090e27;
  --text-offwhite: #fefefe;
}
/* ====== FONT SIZE CLASSES =======*/
.fs_xxl {
  font-size: var(--fs-xxl);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_sm {
  font-size: var(--fs-sm);
}

/* ======= COLOR CLASSES ======= */
.text_red {
  color: var(--text-red);
}
.text_skyblue {
  color: var(--text-skyblue);
}
.text_offblack {
  color: var(--text-offblack);
}
.text_darkblue {
  color: var(--text-darkblue);
}
.text_navyblue {
  color: var(--text-navyblue);
}
.text_skin {
  color: var(--text-skin);
}
.text_purple {
  color: var(--text-purple);
}
.text_offwhite {
  color: var(--text-offwhite);
}
/* ======== BACKGROUND COLORS CLASSES ====== */
.bg_red {
  background-color: var(--text-red);
}
.bg_skyblue {
  background-color: var(--text-skyblue);
}
.bg_navyblue {
  background-color: var(--text-navyblue);
}
.bg_purple {
  background-color: var(--text-purple);
}
.bg_gray {
  background-color: var(--text-gray);
}
.bg_offwhite {
  background-color: var(--text-offwhite);
}
/* ====== FONT FAMILY CLASSES =========== */
.font_gelasio {
  font-family: "Gelasio", serif;
}

.font_inter {
  font-family: "Inter", sans-serif;
}
/* ======== LINE HEIGHTS ============ */
.leading_120 {
  line-height: 120%;
}
.leading_135 {
  line-height: 135%;
}
.leading_140 {
  line-height: 140%;
}
.leading_150 {
  line-height: 150%;
}
.leading_152 {
  line-height: 152%;
}
/* ====== COMMON CLASSES ===== */
.section_width {
  max-width: 1290px;
}
.p_20 {
  padding: 20px;
}
.py_12 {
  padding: 12px 0px;
}
.radius_32 {
  border-radius: 32px;
}
.section_spacing {
  margin-top: 75px;
}
/* ===== CUSTOM CONTAINER ===== */
@media (min-width: 1399.98px) {
  .custom_container {
    max-width: 1172px !important;
  }
}
@media (max-width: 1199.98px) {
  .section_spacing {
    margin-top: 70px;
  }
  :root {
    --fs-xxl: 55px;
    --fs-xl: 38px;
    --fs-lg: 20px;
    --fs-md: 19px;
  }
}
@media (max-width: 991.98px) {
  .section_spacing {
    margin-top: 65px;
  }
  :root {
    --fs-xxl: 50px;
    --fs-xl: 35px;
    --fs-lg: 19px;
    --fs-md: 17px;
    --fs-sm: 16px;
  }
}
@media (max-width: 767.98px) {
  .section_spacing {
    margin-top: 60px;
  }
  :root {
    --fs-xxl: 48px;
    --fs-xl: 32px;
    --fs-lg: 18px;
    --fs-md: 17px;
    --fs-sm: 15px;
  }
}
@media (max-width: 575.98px) {
  .section_spacing {
    margin-top: 48px;
  }
   :root {
    --fs-xxl: 45px;
    --fs-xl: 30px;
    --fs-lg: 17px;
    --fs-md: 16px;
    --fs-sm: 14px;
  }
}
