.video_bg::after {
  position: fixed;
  background: linear-gradient(179.27deg, #124068 0.63%, #000000 175.69%);
  opacity: 74%;
  bottom: 0;
  content: "";
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: color;
}

.accordion-item:nth-child(1) .accordion-button::after,
.accordion-item:nth-child(2) .accordion-button::after {
  background: var(--text-skin);
}

.accordion-item:nth-child(1) .accordion-button:not(.collapsed)::after,
.accordion-item:nth-child(2) .accordion-button:not(.collapsed)::after {
  content: "Close" !important;
  color: var(--text-skin) !important;
  border: 1px solid var(--text-skin) !important;
}

/* swiper */
.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: var(--text-skin);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--text-skin);
  opacity: 100%;
}
@media (max-width:1500.98px) {

  .hwm_video_sec_spacing {
    padding: 140px 0;
    margin-top: -34%;
  }

}

@media (max-width:991.98px) {

  .hwm_video_sec_spacing {
    padding: 80px 0;
    margin-top: -42%;
  }

}

@media (max-width:767.98px) {

  .hwm_video_sec_spacing {
    margin-top: -55%;
  }

}

@media (max-width:576.98px) {

  .hwm_video_sec_spacing {
    margin-top: -85%;
  }

}
@media (max-width:405.98px) {

  .hwm_video_sec_spacing {
    margin-top: -125%;
  }

}