.video_bg::after {
  position: fixed;
  background: var(--text-darkblue) !important;
  opacity: 74%;
  bottom: 0;
  content: "";
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: color;
}
/* FAQ */

.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--text-darkblue);
}
.accordion-item:nth-child(3) .accordion-button::after,
.accordion-item:nth-child(4) .accordion-button::after,
.accordion-item:nth-child(5) .accordion-button::after {
  content: none !important;
}
.accordion-item:nth-child(3) .accordion-button:not(.collapsed)::after,
.accordion-item:nth-child(4) .accordion-button:not(.collapsed)::after,
.accordion-item:nth-child(5) .accordion-button:not(.collapsed)::after {
  content: none !important;
}
.video_btn:hover {
  background-color: var(--text-lightblack) !important;
}
.video_btn.closebtn {
  background-color: transparent;
  border: 1px solid var(--text-darkblue) !important;
  color: var(--text-darkblue) !important;
}
.closebtn:hover {
  background-color: transparent !important;
}
.video_bg::after {
  background: transparent;
  background-blend-mode: color;
  mix-blend-mode: color;
}
/* ================== RECENT SLIDER ================= */
.radius_20 {
  border-radius: 20px;
}
.p_30 {
  padding: 30px;
}
.white_space_nowrap {
  white-space: nowrap;
}
.open_website_btn {
  padding: 12px 20px;
  background: var(--gradient-blue);
  max-width: 189px;
}
.open_website_btn:hover{
  box-shadow: white;
}
.text_gradiant_blue {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.recent_card {
  background-color: #00000034;
}
.recent_slider {
  max-width: 1140px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: white;
}
.diligence_button:hover {
  box-shadow: 0 3px 10px 0 white;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
  opacity: 100%;
}
.hwm_video_sec_spacing {
  padding: 108px 0;
}

@media (max-width: 1500.98px) {
  .hwm_video_sec_spacing {
    padding: 108px 0;
    margin-top: -39%;
  }
}

@media (max-width: 991.98px) {
  .hwm_video_sec_spacing {
    padding: 80px 0;
    margin-top: -42%;
  }
  .p_30 {
    padding: 16px;
  }
    .tech_nova_logo {
    max-width: 60px;
  }
}

@media (max-width: 767.98px) {
  .hwm_video_sec_spacing {
    margin-top: -55%;
  }
  .open_website_btn {
    padding: 8px 13px;
  }

}

@media (max-width: 576.98px) {
  .hwm_video_sec_spacing {
    margin-top: -85%;
  }
  .open_website_btn {
    padding: 6px 11px;
  }
}
@media (max-width: 405.98px) {
  .hwm_video_sec_spacing {
    margin-top: -125%;
  }
}
