
/* ========================== HEADER CLASSES ================== */
.video_bg {
  background-attachment: fixed;
  min-height: auto;
}

#headerVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.starport_logo {
  max-width: 430px;
  height: 65px;
}

/* ========================== VIDEO SECTION CLASSES ================== */
.video_top_spacing {
  padding-top: 150px;
}

.video_sec_spacing {
  padding: 140px 0;
  margin-top: 0%;
}

.diligence_video_img {
  max-width: 945px;
  max-height: 537px;
  border-radius: 24px;
}

.video_play_icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.mb_desktop {
  margin-bottom: 80px;
}
.video_bg::after {
  position: fixed;
  background: var(--text-darkblue) !important;
  opacity: 100%;
  bottom: 0;
  content: "";
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: color;
}

.onboarding_logo {
  height: 65px;
  width: 195px;
}

.video_bg::after {
  background: var(--text-darkpurple);
  background-blend-mode: color;
  mix-blend-mode: color;
}
.video_btn {
  color: white;
}
.video_btn:hover {
  background-color: var(--text-lightblack) !important;
}

.video_btn.closebtn {
  background-color: transparent;
  border: 1px solid var(--text-darkblue) !important;
  color: var(--text-darkblue) !important;
}

.closebtn:hover {
  background-color: transparent !important;
}
.home_button:hover {
  background: var(--text-darkblue) !important;
  color: white;
}

/* ======================= FAQ ======================== */
.accordion-item:nth-child(3) .accordion-button::after,
.accordion-item:nth-child(4) .accordion-button::after,
.accordion-item:nth-child(5) .accordion-button::after {
  content: none !important;
}
.accordion-item:nth-child(3) .accordion-button:not(.collapsed)::after,
.accordion-item:nth-child(4) .accordion-button:not(.collapsed)::after,
.accordion-item:nth-child(5) .accordion-button:not(.collapsed)::after {
  content: none !important;
}

.onboarding_video_sec_spacing {
  padding: 108px 0;
}

/* =========================== MEDIA QUERIES ========================*/
@media (max-width: 1500.98px) {
  .onboarding_video_sec_spacing {
    padding: 108px 0;
    margin-top: -44%;
  }
}

@media (max-width: 991.98px) {
  .onboarding_video_sec_spacing {
    padding: 80px 0;
    margin-top: -42%;
  }
}

@media (max-width: 767.98px) {
  .onboarding_video_sec_spacing {
    margin-top: -55%;
  }
}

@media (max-width: 576.98px) {
  .onboarding_video_sec_spacing {
    margin-top: -85%;
  }
}

@media (max-width: 405.98px) {
  .onboarding_video_sec_spacing {
    margin-top: -125%;
  }
}
