:root {
  --gradient-purple: linear-gradient(
    180deg,
    #630df3 0%,
    #7527ec 40.51%,
    #ffefb7 100%
  );
  --off-yellow: #ffefb7;
  --dark-purple: #6a16f1;
  --off-purple: #630df3bd;
}
.text_gradient_purple {
  background: var(--gradient-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--off-yellow);
}

.video_bg::after {
  position: fixed;
  background-color: var(--dark-purple) !important;
  opacity: 74%;
  bottom: 0;
  content: "";
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: color;
}
.video_btn.closebtn {
  background-color: transparent;
  border: 1px solid var(--text-purple) !important;
  color: var(--text-purple) !important;
}
.video_btn:hover {
  background-color: var(--off-purple) !important;
}
.closebtn:hover {
  background-color: transparent !important;
}
.diligence_button:hover {
  box-shadow: 0 3px 10px 0 var(--text-purple);
}
