
.text_gradient_purple {
  background: var(--gradient-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--text-yellow);
}

.video_bg::after {
  background: var(--text-darkpurple);
  background-blend-mode: color;
  mix-blend-mode: color;
}

.video_btn.closebtn {
  background-color: transparent;
  border: 1px solid var(--text-purple) !important;
  color: var(--text-purple) !important;
}