* {
  text-decoration: none !important;
  list-style-type: none !important;
}
/* ===========================  */
.mb_58 {
  margin-bottom: 58px;
}
.slider_playicon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide_width {
  max-width: 467px;
  height: 100% !important;
}
.swiper-slide {
  min-width: 461px;
}
.swiper-pagination {
  position: absolute;
  bottom: -40px !important;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-3d {
  perspective: 1288px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: var(--text-skyblue);
  opacity: 37%;
  margin: 0 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--text-skyblue);
  opacity: 100%;
}
.startegic_market {
  max-width: 370px;
}
.revetalizing_retail {
  max-width: 367px !important;
}
.driving_innovation {
  max-width: 275px !important;
}
.scaling_new {
  max-width: 319px;
}

/* ========================== HEADER CLASSES ================== */
.video_bg {
  background-attachment: fixed;
  min-height: auto;
}

#headerVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.starport_logo {
  max-width: 430px;
  height: 65px;
}
/* ========================== VIDEO SECTION CLASSES ================== */
.vider_top_spacing {
  padding-top: 150px;
}

.video_sec_spacing {
  padding: 140px 0;
  margin-top: 0%;
}

.diligence_video_img {
  max-width: 945px;
  max-height: 537px;
  border-radius: 24px;
}

.video_play_icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.mb_desktop {
  margin-bottom: 80px;
}
/* ========================== DUE DILIGENCE ================== */
.radius_28 {
  border-radius: 28px;
}

.diligence_image {
  max-height: 185px;
  max-width: 324px;
  border-radius: 8px;
}

.diligence_card:hover img {
  transform: scale(1.05);
}

.diligence_card {
  max-width: 364px;
}

.diligence_button:hover {
  box-shadow: 0 3px 10px 0 var(--text-skyblue);
}

.diligence_button {
  max-width: 162px !;
  padding: 12px 0;
}

.button_svg_icon {
  width: 25px;
  height: 25px;
}
/* =========================== MOVING FORWARD ================ */
.opacity_70 {
  opacity: 70%;
}
.radius_16 {
  border-radius: 16px;
}
.opacity_70 {
  opacity: 70%;
}
.footer_logo {
  max-width: 444px;
}
.cards_shadow:hover {
transform: translateY(-5%);
}

/* ========================= COMMON INVESTOR QUESTIONS ========================= */
.faq {
  padding-top: 60px;
  max-width: 946px;
}
.radius_32 {
  border-radius: 32px;
}
.py_common_invester {
  padding-top: 101px;
  padding-bottom: 101px;
}
.max_w_866 {
  max-width: 866px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button {
  padding: 20px 0 !important;
}
.accordion-item {
  padding: 0 20px !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 20px 0 16px 0 !important;
  color: #000000 !important;
}
.accordion-body {
  padding: 0px 0px 16px 0 !important;
}
.accordion-item:nth-child(1) .accordion-button::after,
.accordion-item:nth-child(2) .accordion-button::after,
.accordion-item:nth-child(3) .accordion-button::after,
.accordion-item:nth-child(4) .accordion-button::after,
.accordion-item:nth-child(5) .accordion-button::after {
  width: 149px !important;
  height: 51px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none !important;
}
.accordion-item:nth-child(1) .accordion-button::after,
.accordion-item:nth-child(2) .accordion-button::after {
  content: "Open Video" !important;
  color: #fff !important;
  background: #ff0a00;
  border-radius: 12px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  transition: 0.3s linear;
}
.accordion-item:nth-child(1) .accordion-button:hover::after,
.accordion-item:nth-child(2) .accordion-button:hover::after {
  box-shadow: 4px 5px rgba(0, 0, 0, 0.3);
}

.accordion-item:nth-child(3) .accordion-button::after,
.accordion-item:nth-child(4) .accordion-button::after,
.accordion-item:nth-child(5) .accordion-button::after {
  content: "+" !important;
  font-size: 50px !important;
  color: #010101 !important;
  font-weight: 400 !important;
}
.accordion-item:nth-child(1) .accordion-button:not(.collapsed)::after,
.accordion-item:nth-child(2) .accordion-button:not(.collapsed)::after {
  content: "Close" !important;
  color: #ff0a00 !important;
  border: 1px solid #ff0a00 !important;
  background: transparent !important;
  border-radius: 12px;
  transform: none !important;
}
.accordion-item:nth-child(3) .accordion-button:not(.collapsed)::after,
.accordion-item:nth-child(4) .accordion-button:not(.collapsed)::after,
.accordion-item:nth-child(5) .accordion-button:not(.collapsed)::after {
  transform: none !important;
  content: "-" !important;
}

.collapse {
  transition-duration: 0.2s !important;
}

.mw_523 {
  max-width: 523px;
}

.accordian_item_gap {
  gap: 40px;
}
.translate_middle {
  transform: translate(-50%, -50%);
}
.play_icon {
  cursor: pointer;
  z-index: 1;
}
.video_radius {
  border-radius: 32px;
}
@media (max-width: 1500.98px) {
  .video_bg {
    min-height: 100vh !important;
  }
  .mb_desktop {
    margin-bottom: 0;
  }

  .video_sec_spacing {
    padding: 140px 0;
    margin-top: -40%;
  }
}
@media (max-width: 1023.98px) {
  .vider_top_spacing {
    padding-top: 100px;
  }
}
@media (max-width: 992px) {
  .accordian_item_gap {
    gap: 20px;
  }
  .accordion-body {
    padding: 0px 0px 16px 20px !important;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 24px 40.5px 16px 20px !important;
  }
  .accordion-item:nth-child(1) .accordion-button::after,
  .accordion-item:nth-child(2) .accordion-button::after {
    font-size: 14px !important;
    width: 120px !important;
  }
  .py_common_invester {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .faq {
    padding-top: 36px;
  }
  .video_sec_spacing {
    padding: 80px 0;
    margin-top: -58%;
  }

  .button_svg_icon {
    width: 20px;
    height: 20px;
  }

  .diligence_button {
    padding: 9px 0;
    min-width: 132px;
  }

  .diligence_image {
    border-radius: 16px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .py_common_invester {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .accordion-button:not(.collapsed) {
    padding: 16px !important;
  }
  .accordion-item:nth-child(3) .accordion-button::after,
  .accordion-item:nth-child(4) .accordion-button::after,
  .accordion-item:nth-child(5) .accordion-button::after {
    margin-top: -8px !important;
  }
  .video_radius {
    border-radius: 16px;
  }
  .vider_top_spacing {
    padding-top: 40px;
  }

  .video_sec_spacing {
    margin-top: -80%;
    padding: 60px 0;
  }
  .video_play_icon {
    width: 50px;
    height: 50px;
  }

  .starport_logo {
    max-width: 330px;
    height: 65px;
  }

  .header_bg {
    min-height: 510px;
  }
}
@media (max-width: 991.98px) {
  .swiper-slide {
    min-height: 376px !important;
  }
  .footer_logo {
    max-width: 390px;
  }
  .button_svg_icon {
    width: 20px;
    height: 20px;
  }
  .diligence_button {
    padding: 9px 0;
    min-width: 132px;
  }
  .diligence_image {
    border-radius: 16px;
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .slider_video {
    max-width: 307px;
    height: 100% !important;
  }
  .swiper-slide {
    min-width: 347px !important;
    height: 100% !important;
  }
  .footer_logo {
    max-width: 360px;
  }
  .play_icon {
    width: 50px;
    height: 49px;
  }
  .swiper-slide {
    min-height: 306px !important;
  }
}
@media (max-width: 575.98px) {
  .footer_logo {
    max-width: 300px;
  }
  .accordion-button:not(.collapsed) {
    padding: 24px 0px 8px 0px !important;
  }
  .accordion-body {
    padding: 0px 0px 16px 0 !important;
  }
  .accordian_item_gap {
    gap: 12px !important;
  }

  .accordion-item:nth-child(3) .accordion-button::after,
  .accordion-item:nth-child(4) .accordion-button::after,
  .accordion-item:nth-child(5) .accordion-button::after {
    width: 28px !important;
    font-size: 30px !important;
    margin-top: -8px !important;
  }
  .accordion-item {
    padding: 0 12px !important;
  }
  .accordion-item:nth-child(1) .accordion-button::after,
  .accordion-item:nth-child(2) .accordion-button::after {
    font-size: 12px !important;
    width: 100px !important;
    height: 40px !important;
  }
  .accordion-button {
    padding: 12px 0 !important;
  }
  .faq {
    padding-top: 30px;
  }
  .play_icon {
    width: 40px;
    height: 39px;
  }
  .video_sec_spacing {
    padding: 50px 0;
    margin-top: -100%;
  }
}
@media (max-width: 405.98px) {
  .video_sec_spacing {
    margin-top: -130%;
  }
}
